@tailwind utilities;

/* Handle default scrollbar, style scrollbar */

:root {
    --scrollbar-background: transparent;
    --thumb-background: var(--primary);
    --scroll-timeline: --scroll-timeline;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: .25rem;
    width: .25rem;
}

body {
    scrollbar-width: auto;
    scrollbar-color: var(--thumb-background) var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background: var(--thumb-background);
    border-radius: .25rem;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-background);
}

/* Enable scroll timeline animations */
/* https://twitter.com/shuding_/status/1698176794124578923 */

@layer utilities {
    .scroll-timeline-y {
        scroll-timeline: --scroll-timeline y;
        scroll-timeline: --scroll-timeline vertical;
    }

    .animate-scroll-timeline {
        animation-timeline: --scroll-timeline;
    }
}
