/* Handle default scrollbar, style scrollbar */

:root {
    --scrollbar-background: transparent;
    --thumb-background: var(--primary);
    --scroll-timeline: --scroll-timeline;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: .45rem;
    width: .45rem;
}

body {
    scrollbar-width: auto;
    scrollbar-color: var(--thumb-background) var(--scrollbar-background);
    /* Disable vertical scrolling jitter in Safari */
    overflow-y: hidden;
}

::-webkit-scrollbar-thumb {
    background: var(--thumb-background);
    border-radius: .25rem;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-background);
}
