@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: var(--font-univers), sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    /* note: keep in sync with theme-color in theme-effect.ts */
    --background: #f5f5f5; /* neutral 100 */
    --primary: #262626; /* neutral 800 */
    --secondary: #a3a3a3;
  }

  :root.dark {
    color-scheme: dark;
    /* note: keep in sync with theme-color in theme-effect.ts */
    --background: #171717; /* neutral 900 */
    --primary: #e5e5e5; /* neutral 200 */
    --secondary: #a3a3a3; /* neutral 400 */
  }

  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }
}
