@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: var(--font-univers), sans-serif;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        color-scheme: light;
        /* note: keep in sync with theme-color in theme-effect.ts */
        --background: #f5f5f5;
        /* neutral 100 */
        --primary: #262626;
        /* neutral 800 */
        --secondary: #737373;
        /* neutral 500 */
    }

    :root.dark {
        color-scheme: dark;
        /* note: keep in sync with theme-color in theme-effect.ts */
        --background: #171717;
        /* neutral 900 */
        --primary: #e5e5e5;
        /* neutral 200 */
        --secondary: #737373;
        /* neutral 500 */
    }

    :root.pause-transitions * {
        transition-duration: 0ms !important;
    }

    html {
        height: -webkit-fill-available;
    }

    h2 {
        @apply mb-4 text-2xl font-light tracking-tight md:text-xl;
    }

    h3 {
        @apply mb-4 text-xl font-light tracking-tight md:text-lg;
    }

    p {
        @apply mb-4 text-sm last:mb-0 md:text-xs;
    }

    p + h2 {
        @apply mt-8;
    }

    sup {
        @apply font-light;
    }
}

@layer components {
    .homepage-grid {
        @apply grid grid-cols-11;
        @apply gap-x-8 gap-y-8 md:gap-x-10 lg:gap-x-16;
    }

    .homepage-header {
        @apply bg-neutral-100/75 backdrop-blur dark:bg-neutral-900/75;
        @apply sticky z-10 py-3 md:py-4;
    }
}

@layer utilities {
    /* Enable scroll timeline animations */
    /* https://twitter.com/shuding_/status/1698176794124578923 */
    .scroll-timeline-y {
        scroll-timeline: --scroll-timeline y;
        scroll-timeline: --scroll-timeline vertical;
    }

    .scroll-timeline-x {
        scroll-timeline: --scroll-timeline x;
        scroll-timeline: --scroll-timeline horizontal;
    }

    .animate-scroll-timeline {
        animation-timeline: --scroll-timeline;
    }
}
